<p>posts-list works!</p>

<div class="container">
    <div class="post">
        <ng-container *ngFor="let post of posts">
            <mat-accordion class="post">
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h3> {{post.title}}</h3>
                        </mat-panel-title>
                        <mat-panel-description>
                            <h3>Posted by {{post.createdBy}}</h3>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p [innerHTML]="post.body"></p>
                </mat-expansion-panel>
            </mat-accordion>
        </ng-container>
    </div>
</div>