<div>
<h1>Hello, Gamers</h1>
<p>Welcome to your new single-page forum, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> and <a href="https://material.angular.io">Material</a> for layout and styling</li>
</ul>
<p>To start using the app:</p>
<ul>
  <li *ngIf="!authenticated | async">Register from here <a routerLink="/authentication/register">here</a> or login from here <a routerLink="authentication/login"></a></li>
  <li>Go to <a routerLink='all-categories'>Forum</a> and start exploring your favourite community</li>
</ul>
<p>Login and start reading the posts and contributing to the community</p>
</div>